.edicoes {
  @include section-margins;

  .edicoes-balao {
    position: absolute;
    display: block;
    width: 100%;

    & > * {
      position: relative;
    }

    .balao_dir {
      top: 30vh;
      left: 85vw;
    }

    .balao_esq {
      top: 50vh;
      right: 25vh;
    }

    .balao_esq-fundo {
      z-index: -1;
      left: 60vw;
      top: -15vh;
    }

    .balao_dir-fundo {
      right: -5vw;
      top: -5vh;
      z-index: -1;
    }
  }
}

.edicoes-carousel {
  padding: 1em 0;

  .edicoes-carousel_content {
    max-width: 1040px;
    height: 24em;
    margin: 0 auto;
  }

  .edicoes-carousel_box {
    @include shadow-box;
    background-color: white;
    display: flex;
    height: 20em;
    margin: 1em;
    position: relative;
    z-index: 1;
    transition: transform 0.2s ease-in;
    cursor: pointer;

    &:hover {
      transform: scale(1.1, 1.1);
    }
  }

  .info-wrapper {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 16;

    h4 {
      color: white;
    }

    p {
      color: $grey-light;
    }
  }

  .gradient-overlay {
    background-image: transparent;
    bottom: 0;
    display: flex;
    height: 75%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 15;
    padding: 1em;

    &:hover {
      background-image: linear-gradient(transparent 0%, $shadow 100%);
    }
  }

  .edicoes-carousel_nav-indicator {
    align-content: center;
    display: flex;
    justify-content: center;
    margin: 2em;

    .slick-dotted.slick-slider {
      margin-bottom: 30px;
    }
  }
}

.edicao1,
.edicao2,
.edicao3,
.edicao4,
.edicao5,
.edicao6,
.edicao7,
.edicao8,
.edicao9,
.edicao10,
.edicao11,
.edicao12 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('./../../images/edicoes/edicao4.jpg');
}
