.welcome {
  @include section-margins;
  height: 100vh;

  .welcome-intro {
    text-align: left;

    h3 {
      color: $silver;
    }
  }

  .welcome-img {
    top: -25vh;
    left: -5%;
    position: absolute;
    z-index: 2;

    img {
      max-width: none;
    }
  }
}
