body,
p {
  font-family: 'Playfair Display', serif;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Work Sans', sans-serif;
}

h1 {
	color: $grey-dark;
  font-size: 68px;
  font-weight: 700;
	line-height: 1.15;
  margin-top: 64px;
  margin-bottom: 64px;

	@media #{$medium-up} {
		font-size: 136px;
	}
}

h2 {
	font-size: 42px;
  font-weight: 700;
	line-height: 1.24;
	color: $grey;
  margin-top: 24px;
  margin-bottom: 24px;

	@media #{$medium-up} {
		font-size: 68px;
	}
}

h3 {
	font-size: 20px;
	font-weight: 700;
	line-height: 1.5;
	color: $silver;
  margin-top: 24px;
  margin-bottom: 0;

	@media #{$medium-up} {
		font-size: 26px;
	}
}

h4 {
	font-size: 16px;
  font-weight: 700;
	line-height: 1.625;
	color: $grey;
  margin-top: 24px;
  margin-bottom: 0px;
}

p {
	@media #{$medium-up} {
		font-size: 18px;
	}

	font-size: 14px;
	line-height: 1.625;
	color: $silver;

}

h5 {
	font-size: 14px;
  font-weight: 700;
	line-height: 1.5;
	color: $white-shade;
}

a, button {
	color: $silver;
	font-family: 'Work Sans', sans-serif;
	text-decoration: none;
	text-transform: uppercase;

	&:hover, &:active, &focus {
		text-decoration: none;
		color: $grey-dark;
	}
}