// DEGRADÊ



// CORES

$white-shade: #fafafa;

$grey-regular: #ccc;
$silver: #a09ea0;
$grey: #575757;
$grey-dark: #373737;

// DEGRADÊ de SHADOWS

$shadow: rgba(0,0,0,0.7);
$light-shadow: rgba(0,0,0,0.2);