.modal {
  padding: 2em 5em;
  text-align: center;
  transition: all .4s ease-in;

  .modal-p {
    margin: 0 auto;
    width: 70%;
  }

  .modal-foward {
    @include shadow-box;
    padding: 1em 2em;
    color: $grey;
    border-bottom: 4px solid transparent;
  }
}
