.timeline-box {
  margin: .5em 0;
}

.timeline-numbers {
  display: block;

  .tl-title {
    color: $silver;
    float: left;
    margin-right: 2em;
    width: 50%;

    &:hover {
      background-color: $white-shade;
    }
  }

  .tl-estatistica {
    color: $grey-light;
    float: right;

    &:hover {
      color: $grey-dark;
    }
  }

  .tl-place {
    display: inline-block;
  }
}

.timeline-curious {
  @include shadow-box;
  margin: 1em 2em;
  padding: 3em;

  h3 {
    margin: 0;
  }
}