#edicao12
  .timeline-title
    h1 Edição 12
  .row
    .highlight-img.float-right.edicao1
    .highlight-theme.medium-centered
      h2= edicoes.ano12
  .timeline-box.row
    .timeline-numbers.medium-4.columns
      h3.tl-title Trabalhos
      h3.tl-estatistica= content.doze.trabalhos
      h3.tl-place= content.doze.local

    .timeline-curious.medium-4.columns
      p= content.doze.curiosidade2
