#edicao1
  .timeline-title
    h1 Edição 1
  .row
    .highlight-img.float-right
      img(class="edicao1" src="#" width="790" height="640")
    .highlight-theme.medium-8.medium-centered
      h2= edicoes.tema1
  .row.timeline-box
    .timeline-numbers.medium-4.columns
      h3.tl-title Número de Inscritos
      h3.tl-estatistica= content.primeira.inscritos
    .timeline-curious.medium-4.columns
      h3= content.primeira.comparacao
