footer.rodape.row
  h6.credits.medium-6.columns Um projeto acadêmico de:
    ul.credits-list
      li.author-1 Lucas de Sousa Ataides
        .social-media-stack
          a(class="social-media-item" href="https://behance.net/lcsataides")
            span.icons.behance-logo
          a(class="social-media-item" href="https://facebook.com/lcsataides")
            span.icons.facebook-logo
          a(class="social-media-item" href="https://linkedin.com/br/lcsataides")
            span.icons.linkedin-logo

      li.author-2 Lucas Arakawa
        .social-media-stack
          a(class="social-media-item" href="https://behance.net/lcsataides")
            span.icons.behance-logo
          a(class="social-media-item" href="https://facebook.com/lcsataides")
            span.icons.facebook-logo
          a(class="social-media-item" href="https://linkedin.com/br/lcsataides")
            span.icons.linkedin-logo

      li.author-3 Deivisson Rodrigues
        .social-media-stack
          a(class="social-media-item" href="https://behance.net/lcsataides")
            span.icons.behance-logo
          a(class="social-media-item" href="https://facebook.com/lcsataides")
            span.icons.facebook-logo
          a(class="social-media-item" href="https://linkedin.com/br/lcsataides")
            span.icons.linkedin-logo

  h6.special-thanks.medium-6.columns Agradecimentos especiais:
    ul.thanks-list.row
      li.logo-item
        a(href="#")
          img.logo1(src="./../../images/parceiros/adg.png" alt="Logo da ADG Brasil")
      li.logo-item
        a(href="#")
          img.logo2(src="./../../images/parceiros/adegraf.png" alt="Logo ADEGRAF")
      li.logo-item
        a(href="#")
          img.logo3(src="./../../images/parceiros/iesb.png" alt="Logo do IESB")
