header.header
  div(data-sticky-container)
      .top-bar(data-sticky data-margin-top="0" data-options="stickyOn: small")

        nav.nav-container(data-magellan)
          span(data-responsive-toggle="responsive-menu" data-hide-for="large"  data-animate="fade-in")
            button(id="nav-toggle" class="icons-l menu-nav" type="button" data-toggle="responsive-menu")
          ul#responsive-menu.navigation-list.vertical.medium-horizontal.menu
            li
              a(href="#entrance" class="menu-item") Home
            li
              a(href="#edicoes" class="menu-item") Edições
            li
              a(href="#infografico" class="menu-item") A Bienal
            li
              a(href="#timeline" class="menu-item") Timeline
            li
              a(href="#inscricoes" class="menu-item") Inscrições