header
  div(data-sticky-container)
    div(class="top-bar" data-sticky  data-margin-top="0")
      .top-bar-title
          span.bbdg25-title BBDG 25
          //- img(src="#" class="bbdg25-logo")

      .top-bar-right
        div(data-magellan)
          span(data-responsive-toggle="responsive-menu" data-hide-for="medium")
            button(class="menu-icon dark" type="button" data-toggle)
          ul.navigation-list.menu.responsive-menu
            li
              a(href="#entrance" class="menu-item") Home
            li
              a(href="#edicoes" class="menu-item") Edições
            li
              a(href="#bienal" class="menu-item") A Bienal
            li
              a(href="#timeline" class="menu-item") Timeline
            li
              a(href="#inscricoes" class="menu-item") Inscrições