section.welcome
//-   .welcome-intro
//-     h3.text-reveal-primary Estou conferindo se você foi convidado… Aguarde 25 segundos.
//-     h3.text-reveal-secondary Brincadeira, você foi sim.
//-     h3.text-reveal-tertiary Só que para entrar, você precisa encontrar o meio da fita e cortá-la :)
//-   .welcome-img
//-     img(src="./../../images/welcome/fita-welcome.png" alt="Laço de entrada no site")