section.decision
  .row
    .nav-indicator
      h5 BBDG __ Antes de Mais nada
      .indicator-line

    .section-title
      h1 Você...?

    .decision-make
      .row
        .medium-6.columns
          button(class="btn btn-ghost" href="#edicoes") Já fui em uma Bienal
        .medium-6.columns
          button(class="btn btn-ghost" href="#bienal") Nunca fui em uma Bienal