section.welcome.welcome-section
    .row
      .welcome-intro
        h3.text-reveal-primary.medium-3.columns Estou conferindo se você foi convidado…
          span.reveal-primary-one Aguarde 25 segundos.
        h3.text-reveal-secondary.medium-3.columns Brincadeira, você foi sim.
        h3.text-reveal-tertiary.medium-3.columns Só que para entrar, você precisa encontrar o meio da fita e cortá-la :)
      .welcome-img
        img(src="./../../images/welcome/fita-welcome.png" alt="Laço de entrada no site")
        a(class="btn acessar float-center" href="#entrance") Entrar na celebração
      .goto-site
        a(class="btn pular-intro float-center" href="#entrance") Pular a introdução. Eu sei que fui convidado.

section.welcome-section.row
  h1 Sejam muito bem-vindx