section.decision
  .row
    .nav-indicator
      h5 BBDG __ Antes de Mais nada
      .indicator-line

    .section-title
      h1 Você...?

    .decision-make.small-centered
      .row
        .medium-6.columns
          a(class="btn btn-ghost" href="#edicoes") Já fui em uma Bienal
        .medium-6.columns
          a(class="btn btn-ghost" href="#timeline") Nunca fui em uma Bienal