extends layouts/_default

block content
  //- Seja muito bem-vindo
  include ../views/modules/_section-welcome.pug

  //- Hall de entrada
  include ../views/modules/_section-entrance.pug

  //- Etapa de tomada de decisão
  include ../views/modules/_section-decisao.pug

  //- Carousel e navegacao entre as edicoes
  include ../views/modules/_section-edicoes.pug

  //- A estrutura da Bienal
  include ../views/modules/_section-infografico.pug

  //- Timeline de fato com as curiosidades edição por edição
  include ../views/modules/_section-timeline.pug

  //- Seção de Newsletter e captação de e-mail
  include ../views/modules/_section-inscricoes.pug

  //- Agradecimentos primários
  include ../views/modules/_section-thanks.pug
