extends layouts/_default

block content

  .welcome-onepage
    //- Seja muito bem-vindo
    include modules/_section-welcome.pug

  //- Hall de entrada
  include modules/_section-entrance.pug

  //- Etapa de tomada de decisão
  include modules/_section-decisao.pug

  //- Carousel e navegacao entre as edicoes
  include modules/_section-edicoes.pug

  //- A estrutura da Bienal
  include modules/_section-infografico.pug

  //- Timeline de fato com as curiosidades edição por edição
  include modules/_section-timeline.pug

  //- Seção de Newsletter e captação de e-mail
  include modules/_section-inscricoes.pug

  //- Agradecimentos primários
  include modules/_section-thanks.pug
